{{#each sortedLikes as |answer|}}
  Author: {{answer.author}}
  Answer: {{answer.content}}

  <button {{action 'upVote' answer}}> Upvote</button>
  <button {{action 'delete' answer}}>Delete</button>

  UpVotes: {{answer.upVotes}}
  <br>
{{/each}}
