{{#if updateQuestionForm}}
  <h1>Update {{question.content}}'s {{question.author}} {{question.additionalNotes}}</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="content">Content</label>
          {{input value=content id="content" placeholder=question.content}}
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author" placeholder=question.author}}
        </div>

        <div class="form-group">
          <label for="additionalNotes">Additional Notes</label>
          {{input value=additionalNotes id="additionalNotes" placeholder=question.additionalNotes}}
        </div>

        <button class="btn btn-primary btn-sm" {{action 'update' question}}>Save</button>
      </form>
    </div>
{{else}}
    <button class="btn btn-primary btn-sm" {{action 'updateQuestionForm'}}>Update</button>
{{/if}}
