<h2>{{model.author}} has {{model.answers.length}} answers</h2>

<p>
  Question: {{model.content}}
  <br>
  Additional-Notes: {{model.additionalNotes}}
  <br>
  Author: {{model.author}}
</p>

{{update-question question=model update="update"}}

{{answer-tiles question=model save="save" }}
{{answer-list answers=model.answers destroyAnswer="destroyAnswer" upVote="upVote"}}
