<h2> This is info about {{model.author}}'s question.</h2>

<p>
  Question: {{model.content}}
  <br>
  Additional-Notes: {{model.additionalNotes}}
  <br>
  Author: {{model.author}}
</p>

{{update-question question=model update="update"}}
